<div class="col-xs-12 table-responsive">
    <table class="table" style="table-layout: fixed; width: 100%">
        <tr ng-repeat="r in retailers">
            <td style="white-space: normal"><a ng-href="{{r.url}}">{{r.name}}</a></td>
            <td>{{r.address1}}<br />{{r.city}}, {{r.state}} {{r.zip4}}-{{r.zip5}}</td>
        </tr>
    </table>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <table class="col-xs-12">
    <tr>
        <td><button popover-placement="top" popover="Use Location to Search"><span class="glyphicon glyphicon-screenshot"></span></button></td>
        <td>
            <input type="text" placeholder="90210" ng-model="zipCode" />
            <button ng-click="searchForZip()"><span class="glyphicon glyphicon-search"></span></button>
        </td>
        <td><button popover-placement="top" popover="Pick from a list of known sites"><span class="glyphicon glyphicon-th-list"></span></button></td>
        <td><button popover-placement="top" popover="Profile Screen"><span class="glyphicon glyphicon-user"></span></button></td>
    </tr>
    </table>
</nav>
